.container
  -if notice
    .alert.alert-info
      %button.close{ type: "button", :"data-dismiss" => "alert" } &times;
      = notice
  -if alert
    .alert.alert-info
      %button.close{ type: "button", :"data-dismiss" => "alert" } &times;
      = alert

#ember-app


