.modal.hide.fade#modal
  .modal-header
    %button.close{ type: "button", :"data-dismiss" => "modal",  :"aria-hidden" => true } &times;
    %h3 New Document
  =form_for @document, html: { multipart: true, style: "margin-bottom: 0;" }, remote: true do |f|
    .modal-body
      .field
        =f.text_field :description, placeholder: "Description (eg, 'resume', 'cover letter', etc)", :class => "span4"
      .field
        =f.file_field :material
    .modal-footer
      =f.submit nil, :class => "btn btn-success", :id => "document_submit"