<div class="container" id="navigation">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <a href="#" class="brand"><span class="white">zapp</span>.ly</a>
      {{! <a href="#" class="brand"><span class="white">IntrinsicImpact</span>.org</a> }}
      {{! <a href="#" class="brand"><span class="white">Wolf</span>Brown</a> }}

      <div id="ember_navigation" class="pull-right">
        {{ view Zapply.NavigationView }}
      </div>
    </div>
  </div>
</div>

{{#if session.submitted }}
  <div class="container"><div class="row"><div class="alert alert-info">
    Thank you for your interest in the program manager position! Your application has been submitted. We will confirm receipt of your application within two business days.
  </div></div></div>
{{/if}}


<div class="container-fluid">
  {{ outlet }}
</div>

<div class="container container-fluid" id="footer">
  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <ul class="nav">
        <li> <a href="mailto:zach@wolfbrown.com" rel="nofollow"><i class="icon-envelope"></i> contact us</a> </li>
        <li> <a href="http://www.wolfbrown.com" rel="nofollow">WolfBrown</a> </li>
        <li> <a href="http://www.intrinsicimpact.org" rel="nofollow">IntrinsicImpact.org</a> </li>
        <li> <a href="http://dashboard.intrinsicimpact.org/demo" rel="nofollow">IntrinsicImpact Dashboard</a> </li>
      </ul>
    </div>
  </div>
</div>
