  <table class="table">
    
    {{#each controller}}
      <tr {{bindAttr class="submitted:info" }}>
        <td>{{#linkTo applicant this}}{{email}}{{/linkTo}}</td>
        <td>{{submitted}}</td>
      </tr>
    {{/each}}

  </table>