{{#if session.signed_in}}
<div class="row">
  <h1>My Documents</h1>
</div>
  <div class="row">
    <div class="alert alert-info">
      Drag your application documents to this window to upload them, or use the file picker below. You can upload multiple files at once if your browser supports it.

      {{view Zapply.NewDocumentView}}
    </div>
    {{view Zapply.DocumentsTable}}
  </div>

{{else}}
  {{render job_description}}
{{/if}}