{{#if session.signed_in}}

  <div class="row-fluid">
    {{#unless session.submitted }}
      <div class="alert alert-info">
          <h3>The application period has ended.</h3>
          <p>
            Thank you for your interest in the Intrinsic Impact Program Manager position. If you have completed your application but have not yet submitted it, please email zach@wolfbrown.com.
          </p>

      </div>
    {{/unless}}
    {{view Zapply.DocumentsTable}}
  </div>
  
{{else}}
  {{render job_description}}
{{/if}}