{{#if session.signed_in}}
<div class="row">
  <h1>My Documents</h1>
</div>
  <div class="row">
    <div class="well">
      Upload your application materials one at a time.
      {{view Zapply.NewDocumentView}}
    </div>
    {{view Zapply.DocumentsTable}}
  </div>

{{else}}
  {{render job_description}}
{{/if}}