
<input type="hidden" name="authenticity_token" {{bindAttr value="view.csrf"}}>
<input type="file" id="document_material" name="document[material]" multiple="multiple">

<div id="progress" class="progress progress-striped" style="display:none;">
  <div class="bar" style="width: 0%;"></div>
</div>