<form action="/documents" class="new_document" data-remote="true" enctype="multipart/form-data" id="new_document" method="post" class="form-horizontal">
  <input type="hidden" name="authenticity_token" {{bindAttr value="view.csrf"}}>
  {{! view Ember.TextField valueBinding="view.newDocumentDescription" classNames="document_description span4" placeholder="description (eg 'resume, 'cover letter', etc)"}}
  <input class="span4" id="document_description" name="document[description]" size="30" type="text">
  <input type="file" id="document_material" name="document[material]">
  <input type="submit" value="Upload" class="btn btn-success">
</form>