<h4>Additional notes or comments you would like to submit along with your application:</h4>
{{#if session.submitted}}
  <p>{{session.note}}</p>
{{else}}
  {{view Ember.TextArea valueBinding="session.note" class="span8" rows="6" }}
  <br />
  {{#if session.isDirty}}
    <a href="#" class="btn btn-warning" {{action commitData}}>save notes</a>
  {{/if}}
{{/if}}